<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>Creer_eleve</servlet-name>
        <servlet-class>projetprototypejee.servlet.eleve.Creer_eleve</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Creer_eleve</servlet-name>
        <url-pattern>/creer_eleve</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>Creer_enseignant</servlet-name>
        <servlet-class>projetprototypejee.servlet.professeur.Creer_enseignant</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Creer_enseignant</servlet-name>
        <url-pattern>/creer_enseignant</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Creer_Matiere</servlet-name>
        <servlet-class>projetprototypejee.servlet.CreerMatiere</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Creer_Matiere</servlet-name>
        <url-pattern>/creer_matiere</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>AttribuerCoursServlet</servlet-name>
        <servlet-class>admin.attribution_cours.pourprof.AttribuerCoursServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttribuerCoursServlet</servlet-name>
        <url-pattern>/attribuerCours</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>inscription_eleve.jsp</welcome-file>
    </welcome-file-list>
</web-app>

